
.product-table {
    width: 100%;
    border-collapse: collapse;
 
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    
    text-align: left;
}

.product-table th {
    background-color: #007bff;
    color: white;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
